@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 274 7% 10%;

    --card: 0 0% 100%;
    --card-foreground: 274 7% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 274 7% 10%;

    --primary: 274 46% 36%; /* Deep Purple */
    --primary-foreground: 0 0% 95%;

    --secondary: 151 100% 26%; /* Bold Green */
    --secondary-foreground: 0 0% 95%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 51 100% 50%; /* Gold */
    --accent-foreground: 274 7% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 274 7% 10%;
    --input: 240 5.9% 90%;
    --ring: 274 46% 36%;

    --radius: 0rem;
  }

  .dark {
    --background: 274 7% 10%;
    --foreground: 0 0% 95%;

    --card: 274 7% 10%;
    --card-foreground: 0 0% 95%;

    --popover: 274 7% 10%;
    --popover-foreground: 0 0% 95%;

    --primary: 274 56% 62%; /* Lighter Purple */
    --primary-foreground: 274 7% 10%;

    --secondary: 151 100% 35%; /* Lighter Green */
    --secondary-foreground: 274 7% 10%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 51 100% 50%; /* Gold */
    --accent-foreground: 274 7% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 95%;
    --input: 240 3.7% 15.9%;
    --ring: 274 56% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
